<ion-view title="Page" hide-nav-bar="true" id="page6">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div>
      <img src="img/iX5ZpoCJTKG0RjMjKFZx_ScreenShot2018-05-05at8.28.40PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="page-heading5" style="color:#2657E2;font-weight:lighter;">Choose your hospital </h1>
    <div>
      <a style="display:block;" ui-sref="tabsController.permissionShare()">
        <img src="img/IHZ9AsBET9yV7UKrEXw4_ScreenShot2018-05-05at8.28.56PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="tabsController.permissionShare()">
        <img src="img/mdmUiwo2SmCh2knu0uUO_ScreenShot2018-05-05at8.29.09PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="tabsController.permissionShare()">
        <img src="img/Ad3baxxXSpmDu6bjfcb1_ScreenShot2018-05-05at8.29.13PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>