<ion-view title="PermissionShare" hide-nav-bar="true" id="page4">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <form id="permissionShare-form2" class="list">
      <label class="item item-input" id="permissionShare-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div class="list card" id="permissionShare-card21">
      <ion-item class="item-avatar positive" id="permissionShare-list-item3">
        <img src="img/Qe9Q931SBCEYO8hnn97l_23131868_1822662761107145_8111295675463414096_n.jpg">
        <h2positive>Heather Smith
          <p>Policy #: U9181980</p>
        </h2positive>
      </ion-item>
    </div>
    <h3 id="permissionShare-heading2" style="color:#4676C2;font-weight:lighter;text-align:center;">Data Sent to : Sunrise Hospital and Medical Center</h3>
    <div>
      <img src="img/PMcGjdR3QWymaPjDxgKw_ScreenShot2018-05-05at6.55.23PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="permissionShare-list2">
      <ion-item class="item-avatar item-icon-right positive" id="permissionShare-list-item5">
        <img src="img/xxgrN3jQSACRyyt87P9U_17308856_1305827312818184_267587928872977932_n.jpg">
        <h2positive>Received by Doctor
          <p> Dr. Kent Makishima, MD,JD.</p>
          <i class="icon ion-ios-medical-outline"></i>
        </h2positive>
      </ion-item>
    </ion-list>
    <div id="permissionShare-button-bar1" class="button-bar">
      <button id="permissionShare-button7" ngclick="myFunc()" style="border-radius:100px 100px 100px 100px;" class="button button-positive button-full button-outline icon ion-ios-checkmark"></button>
    </div>
  </ion-content>
</ion-view>